<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-clockwise-fade-rotating"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div>
  <div fxFlex=100 fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="center space-around" class="details-card" fxFlex=80>
      <div fxLayout="row">
        <h4 style="width: 50%">IG Contact List</h4>
        <h4 class="back" (click)="redirect()">Back to details</h4>
      </div>
      <div class="border"></div>
      <div fxLayout="row">
        <div class="icon-div" fxFlex="100">
          <span class="material-icons">
            contacts
          </span>
          <h4 style="margin-left: 2%">Contacts({{contactsList.length}})</h4>
        </div>
        <div class="icon-div" fxLayoutGap="10px">
          <mat-form-field class="half-width">
            <mat-label>Search by name, job title</mat-label>
            <input matInput [(ngModel)]="search">
          </mat-form-field>
          <button mat-icon-button>
            <mat-icon>filter_alt</mat-icon>
          </button>
          <button mat-stroked-button color="primary">
            <span class="material-icons">
              feedback
            </span>
            Feedback</button>
        </div>
      </div>

      <div >
        <div fxLayout="row wrap" infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="scrollThrottle"
        [scrollWindow]="false" (scrolled)="onScrollDown()" style="max-height: 400px; overflow-y: scroll;">
          <div *ngFor="let item of slicedContactList | searchFilter: search" fxFlex="33%">
            <div class="card">
              <div></div>
              <div><i class="fa fa-user-circle-o profile" aria-hidden="true"></i>
              </div>
              <div fxLayout="column" fxFlex="100">
                <div>
                  <span fxFlex="100">{{item.name}}</span>
                  <i *ngIf="item.reveal" class="fa fa-cog" aria-hidden="true"></i>
                </div>
                <div class="fontsize"><i class="fa fa-briefcase" aria-hidden="true"></i> {{item.jobtitle}}
                </div>
                <div *ngIf="item.reveal" class="fontsize"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                  {{item.email}}
                </div>
                <div *ngIf="item.reveal" class="fontsize" style="align-items: center"><i class="fa fa-phone"
                    aria-hidden="true"></i>
                  <span fxFlex="100">{{item.contact}}</span>
                  <i *ngIf="item.reveal" class="fa fa-linkedin-square linkedinicon" aria-hidden="true"></i>
                </div>
                <button *ngIf="!item.reveal" mat-stroked-button color="primary" style="width: 40%"
                  (click)="item.reveal= true">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                  Reveal</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </mat-card>
  </div>
</div>